body {
  font-family: "PT serif", serif;
  font-style: normal;
  font-weight: 400;
  color: #333332;
  font-size: 16px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

body > .skiptranslate {
  display: none !important;
}

div#header {
  min-height: 50px;
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}

div#header a {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  display: block;
  transition: 0.3s;
  text-decoration: none;
}

div#header div#image {
  display: flex;
  width: 165px;
}

div#header div#links {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  width: 165px;
}

div#content {
  padding-top: 10px;
  text-align: justify;
}

div#welcome {
  display: flex;
}

/*---------------------------------------------------------------------------*/

div#posts {
  display: flex;
  text-align: left;
}

div#posts-en {
  width: 600px;
  padding-right: 20px;
}

div#posts-en ul {
  margin-left: -20px;
}

div#posts-en li {
  margin-bottom: 15px;
}

div#posts-pt {
  width: 280px;
  padding-right: 20px;
}

div#posts-pt ul {
  margin-left: -20px;
}

div#posts-pt li {
  margin-bottom: 15px;
}

/*---------------------------------------------------------------------------*/

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}

div.info {
  color: #555;
  font-size: 14px;
  font-style: italic;
}

pre {
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}

code {
  font-family: "DejaVu Sans Mono", monospace;
  font-size: 90%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  background: #efefef;
}

div#course_header {
  display: flex;
  justify-content: space-between;
}

#content pre {
  width: 100%;
  overflow: scroll;
}

#content code {
  padding: 0.025em 0.1em;
}

#content pre code {
  padding: 0.5em 1em;
  display: block;
  white-space: pre;
  overflow: scroll;
}

#content img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.display-math {
  display: block;
  margin: auto !important;
}

a {
  color: #333332;
}

div.course figure {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

div.course a {
  font-weight: 600;
}

div.course img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div.course figcaption {
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  padding: 3px;
  border: 1px solid;
  border-collapse: collapse;
}
