<!DOCTYPE html>
<html lang="en">
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta name="description" content="{{siteTitle}}">
    <meta name="author" content="{{author}}">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css" integrity="sha384-GvrOXuhMATgEsSwCs4smul74iXGOixntILdUW9XmUC6+HX0sLNAK3q71HotJqlAn" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.js" integrity="sha384-cpW21h6RZv/phavutF+AuVYrr+dA8xD9zs6FwLpaCct6O9ctzYFfFr4dgmgccOTx" crossorigin="anonymous"></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"
        onload="renderMathInElement(document.body);"></script>
</head>
<body>
    {{>site/templates/header.html}}

<div class="flex justify-center bg-base-100">
<article class="prose max-w-prose mb-5">
  <div class="book-navigation">

    <div class="book-navigation-parent drawer">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <label for="my-drawer">
          <div class="space-y-1 inline-block">
            <div class="w-4 h-0.5 bg-gray-600"></div>
            <div class="w-4 h-0.5 bg-gray-600"></div>
            <div class="w-4 h-0.5 bg-gray-600"></div>
          </div>
          <b>Index</b>
        </label>
      </div>
      <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay"></label>
           <ul class="menu p-4 h-full bg-base-200 text-base-content">
            <li>
             <h1 class="text-xl mb-5">
                 {{bookTitle}}
             </h1>
            </li>
             {{{bookIndex}}}
           </ul>
      </div>
    </div>

    {{#parentTitle}}
    <div class="book-navigation-parent">
      <div class="arrow arrow-up"></div>
      <a href="{{parentUrl}}">{{parentTitle}}</a>
      <div class="arrow arrow-up"></div>
    </div>
    {{/parentTitle}}

    <div class="book-navigation-section">

       <div class="book-navigation-previous">
         {{#previousTitle}}
         <div class="arrow arrow-left"></div>
         <a href="{{previousUrl}}">{{previousTitle}}</a>
         {{/previousTitle}}
       </div>

       <div class="book-navigation-next">
         {{#nextTitle}}
         <a href="{{nextUrl}}">{{nextTitle}}</a>
         <div class="arrow arrow-right"></div>
         {{/nextTitle}}
       </div>
    </div>
  </div>

    {{{content}}}

</article>
</div>

</body>
</html>
