<div class="flex justify-center bg-base-100">
<article class="prose max-w-prose mb-5">
  <div class="book-navigation">

    <div class="book-navigation-parent drawer">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <label for="my-drawer">
          <div class="space-y-1 inline-block">
            <div class="w-4 h-0.5 bg-gray-600"></div>
            <div class="w-4 h-0.5 bg-gray-600"></div>
            <div class="w-4 h-0.5 bg-gray-600"></div>
          </div>
          <b>Index</b>
        </label>
      </div>
      <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay"></label>
           <div class="menu menu-vertical p-4 bg-base-200">
             <h1 class="text-xl mb-5 w-100" style="margin-left: 0.75em;">
                 {{bookTitle}}
             </h1>
             <div style="margin-left:-1.5em;">
               {{{bookIndex}}}
             </div>
           </div>
      </div>
    </div>

    {{#parentTitle}}
    <div class="book-navigation-parent">
      <div class="arrow arrow-up"></div>
      <a href="{{parentUrl}}">{{parentTitle}}</a>
      <div class="arrow arrow-up"></div>
    </div>
    {{/parentTitle}}

    <div class="book-navigation-section">

       <div class="book-navigation-previous">
         {{#previousTitle}}
         <div class="arrow arrow-left"></div>
         <a href="{{previousUrl}}">{{previousTitle}}</a>
         {{/previousTitle}}
       </div>

       <div class="book-navigation-next">
         {{#nextTitle}}
         <a href="{{nextUrl}}">{{nextTitle}}</a>
         <div class="arrow arrow-right"></div>
         {{/nextTitle}}
       </div>
    </div>
  </div>

    {{{content}}}

</article>
</div>
